.select-category{
    background-color: transparent;
    border: 1px solid #ccc;
    border-bottom: 0;
    .MuiInputBase-input {
        padding: 5px !important;
    }
}
.wraper-blog-item{
    margin-top: 20px;
}